html {
    font-family: 'Roboto', sans-serif;
}
#body {
    width: 100%;
    height: auto;
    background-color: gray;
}
.text-bg-dark {
    text-align: center;
    font-size: 20px;
}


#banner img {
    user-select: none;
}