#body {
    width: 100%;
    height: auto;
    background-color: gray;
}
.text-bg-dark {
    text-align: center;
    font-size: 20px;
}
#banner h1 {
    display: flex;
    align-items: center;
    text-align: center;
    float: center;
    margin-left: 450px;
}
/*#banner p {
    position: absolute;
    text-align: center;
    margin-left: 40%;
    color:#fff;
} */
